@{
    ViewData["Title"] = "Home Page";
}

<section class="d-flex flex-row justify-content-around gap-1 w-100 rounded-2 shadow-lg bg-light p-3">
<div class="text-start">
    <h1 class="display-4 g-lg-3 text-secondary fw-bold">Inventory and sales management system</h1>
    <p class="mt-5 text-black-50">This is a system for a company that supplies medical instruments such as devices, kits,
        materials, and disposables. It tracks all core business activities including inventory management, sales, suppliers, 
        employees, and customers.</p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="bg-light">
    <img src="~/images/s1.jpg" class="rounded-2 shadow-lg"/>
</div>
</section>

